# Core dependencies
openai
chromadb
tiktoken
unstructured
typing-inspect==0.8.0
typing_extensions
openapi-schema-pydantic
python-telegram-bot
streamlit
open_clip_torch
faiss-cpu
qdrant-client
pymilvus

# Langchain dependencies
langchain==0.3.4
langchain-anthropic
langchain-chroma
langchain-community
langchain-elasticsearch
langchain-experimental==0.3.2
langchain-huggingface
langchain-mistralai
langchain-openai==0.2.3
langchain-voyageai
langchainhub
langchain_text_splitters==0.3.0
langchain_mongodb==0.2.0
langchain_pinecone==0.2.0
langchain_weaviate==0.0.3
fastembed

# Embedding and retrieval libraries
beautifulsoup4==4.12.3
fastapi==0.115.0
cohere
neo4j
ollama
redis==5.1.0
weaviate_client==4.8.1

# Other required packages
jdatetime==5.0.0
pydantic==2.10.3
